<style type='text/css'>
        th {
            font-size:16pt;
        }
        body{
            font-size:12pt;
        }
		.border_head{
			border-top: solid 1px #000000;
			border-bottom:solid 1px #000000;
		}
        td {
			padding-left:3px;
        }			
</style>